body {
  font-family: Helvetica;
  background-image: linear-gradient(to right, #30475e, #666666);
  color: #dddddd;
}

header {
  color: #f05454;
}

nav {
  background-color: #dddddd;
}

h2 {
  color: #f05454;
}

footer {
  clear: both;
}

.resort {
  color: #1976d2;
}

.trails {
  color: #002171;
}

.column {
  float: left;
  width: 33.33%;
}

.intelligence {
  padding: 0 0 0 10px;
  position: relative;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 24px;
}

.digital {
  padding: 0 0 0 10px;
  position: relative;
  width: 10%;
  margin-left: 10%;
  margin-bottom: 24px;
}

.automation {
  padding: 0 0 0 10px;
  position: relative;
  width: 10%;
  margin-left: 10%;
  margin-bottom: 24px;
  height: 10%;
}

table {
  border: 2px solid #3399cc;
  border-collapse: collapse;
}

td {
  padding: 0.5em;
  border: 2px solid #3399cc;
}

th {
  padding: 0.5em;
  border: 2px solid #3399cc;
}

.text {
  text-align: left;
}

tr:nth-of-type(odd) {
  background-color: #000000;
}

label {
  float: left;
  display: block;
  text-align: right;
  width: 140px;
  padding-right: 5px;
}

input {

    display:block;
    margin-bottom: 20px;

}

textarea {

    display:block;
    margin-bottom: 20px;

}

input[type="submit"] {

    margin-left: 140px;

}